.todo {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: auto;
}

input {
  width: 70%;
  padding: 8px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
} */

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

li {
  background: white;
  margin: 5px 0;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}

li button {
  background: red;
  padding: 3px 8px;
  font-size: 14px;
}
