* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: whitesmoke;
}

.mainContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  border-radius: 8px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.container {
  background-color: wheat;
  border: 1px solid black;
  border-radius: 8px;
  width: 300px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 2px;
  transition: transform 0.2 ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container ul li {
  display: flex;
  gap: 10px;
}

.container ul {
  display: flex;
  gap: 15px;
}

.container:hover {
  transform: scale(1.05);
}

img {
  object-fit: cover;
  width: 100%;
}

.btn {
  background-color: aqua;
  width: 100px;
  height: 20px;
  margin: 0 auto;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  border: none;
  transition: transform 0.2 ease-in-out;
}

.btn :hover {
  transform: scale(1.02);
}
